include snowtrace/configs/MAIN-stable.json
include snowtrace/configs/GOERLI-stable.json
include snowtrace/configs/KOVAN-stable.json
include snowtrace/configs/RINKEBY-stable.json
include snowtrace/configs/ROPSTEN-stable.json

